body {
  font-family: sans-serif, serif, 'Times New Roman', Times;
  display: flex;
  justify-content: center;
  background: rgb(214,174,238);
  background: linear-gradient(90deg, rgba(148,187,233,1) 0%, rgba(214,174,238,1) 100%);
}

.App {
  margin-top: 50px;
}

h1, .msg {
  color: darkslategray;
  text-align: center;
}

.task-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

input[type=text] {
  background-color: azure;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

input[type=checkbox] {
  cursor: pointer;
}

input:active, input:focus {
  outline: none;
}

.to-do-list {
  width: 600px;
  padding: 10px 0;
  background-color: azure;
  border-radius: 10px;
}

@media screen and (max-width: 700px) {
  .to-do-list {
    width: 90vw;
  }
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
  background-color:gainsboro;
}

@media (hover: hover) {
  .edit-delete-btns {
    visibility: hidden;
  }
  .task-item:hover {
    .edit-delete-btns {
      visibility: visible;
    }
  }
}

.flex-container {
  display: flex;
  gap: 8px;
  align-items: center;
}

button {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: whitesmoke;
}

button:hover {
  background-color: rgba(148,187,233,1);
}

@media (hover: none) {
  button:active {
    background-color: rgba(148,187,233,1);
  }
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
}

.task-done {
  text-decoration: line-through;
}